@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: ProximaNova-Bold;
    src: url("../fonts/proximanova/ProximaNova-Bold.ttf");
}

@font-face {
    font-family: PressStart;
    src: url("../fonts/ps2p/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none;
}

body {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .photo > img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 630px) {
    .photo {
        order: 0;
    }

    .name {
        order: 1;
    }

    .right-panel {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 371px) {

    .right-panel > .el {
        margin-right: 0;
    }
}

.main-info {
    padding-left: 5%;
    padding-right: 5%;
    background: #0F0E17;
    padding-top: 2%;
    margin: 0;
    padding-bottom: 7rem;
}

.logo {
    text-align: center;
    font-family: monospace;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #FF8906;
    transition: 1s;
}

.console {
    color: #ff8906;
}

.information-prof {
    font-size: 48px;
    color: #A7A9BE;
    font-family: monospace;
    overflow: hidden;
}

.header-menu {
    display: grid;
    grid-area: header;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(1, 100px);
}

.menu-element {
    width: 1fr;
    color: white;
    font-family: monospace;
    text-align: center;
}

.right-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.right-panel > .el {
    margin-right: 10%;
}

.information {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.name {
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
}

.photo {
    text-align: center;
}

.el:hover {
    color: #FF8906;
    text-shadow: #FF8906;
    transition: 1s;
}

.technologies-block {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.technologies {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(2, minmax(300px, 1fr));
    align-items: center;
}

.technologies-head > h1 {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

.technologies-head > p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}

.tech-card {
    background: #0F0E17;
    margin: 2%;
    height: 300px;
    padding: 2%;
}

.tech-card > h1 {
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
}

.tech-card > p {
    text-align: center;
    color: #A7A9BE;
    font-family: Montserrat;
    font-size: 36px;
}

.projects {
    padding-left: 10%;
    padding-right: 10%;
    background: #0F0E17;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 7rem;
    padding-bottom: 7rem;
}

/*.projects-list{
    overflow: auto;
    height: 1000px;
}*/
.project-card {
    background: #fffffe;
    padding: 3vh 5vh 3vh 5vh;
    width: auto;
    height: auto;
    word-wrap: break-word;
    font-family: Montserrat;
    font-size: 36px;
    margin: 2%;
    margin-bottom: 2rem;
    border-radius: 15px;
    cursor: pointer;

}

.project-card:hover {
    box-shadow: 0 0 20px #f1f1f1;
    border-radius: 25px;
    transition: 0.5s;
}

svg {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}

.projects-title {
    visibility: visible;
    position: sticky;
    top: 6rem;
    padding-top: 1%;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}

.projects-title > h1 {
    font-family: Montserrat;
    font-weight: 700;
    color: #fffffe;
    font-size: 48px;
}

.projects-title > p {
    font-family: Montserrat;
    font-weight: 500;
    color: #a7a9be;
    font-size: 36px;
}

.project-card > h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
}

.project-card > p {
    font-size: 28px;
    color: #2e2f3e;
    font-family: Montserrat;
    font-weight: 500;
}

.project-card > h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 28px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    font-family: Montserrat;
    font-weight: 500;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    padding: 1vh;
    border-radius: 3px;
    font-size: 14px;
    background-color: #ff8906;
    color: #fffffe;
    border: 1px solid #FF8906;
}

.tag:hover {
    color: #FF8906;
    background-color: white;
}

.contacts {
    text-align: center;
    padding: 7rem;
}

.head-line {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 7rem;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    margin: 1% 2% 5% 2%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
}

.gmail-link, .linkedin-link, .instagram-link {
    cursor: pointer;
    font-weight: 600;
}

.gmail-link:hover > span {
    color: red;
    font-weight: bold;
    transition: 1s;
}

.linkedin-link:hover > span {
    background-color: #0366c3;
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition: 1s;
}
.instagram-link:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, red, fuchsia);
    transition: 1s;
}
@media screen and (max-width: 400px) {
    .name > h1 {
        font-size: 48px;
    }

    .name > p {
        font-size: 36px;
    }

    .technologies-head > h1 {
        font-size: 48px;
    }

    .technologies-head > p {
        font-size: 36px;
    }

    .tech-card > h1 {
        text-align: center;
        color: white;
        font-family: Montserrat;
        font-size: 36px;
    }

    .tech-card > p {
        text-align: center;
        color: #A7A9BE;
        font-family: Montserrat;
        font-size: 28px;
    }

    .project-card {
        padding: 2vh 3vh 2vh 3vh;
    }

    .contacts {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 334px) {

    .right-panel > .el {
        margin-right: 0;
    }

    .projects {
        padding-left: 0;
        padding-right: 0;
    }

    .technologies {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .technologies {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(2, minmax(300px, 1fr));
        align-items: center;
    }
}

@media screen and (max-width: 1440px) {
    svg {
        display: none;
    }

    .projects-title {
        visibility: visible;
        position: sticky;
        top: 0;
        padding-top: 1%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .projects-title > h1 {
        font-family: Montserrat;
        color: #fffffe;
        font-size: 48px;
    }

    .projects-title > p {
        font-family: Montserrat;
        color: #a7a9be;
        font-size: 36px;
    }
}