<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demyan Kurbatov</title>
</head>
<body>
<div class="main-info">
    <div class="header-menu">
        <div class="menu-element" id="console">
            <h1 class="logo"><span class="console">>>></span> <span class="console">"</span>Hello world!<span
                    class="console">"</span></h1>
        </div>
        <div class="menu-element right-panel">
            <div class="el"><a href="#tech"><h1>Technologies </h1></a></div>
            <div><a href="#projects"><h1>Projects</h1></a></div>
        </div>

    </div>
    <div class="information">
        <div class="name">
            <h1 class="name">Kurbatov Demyan</h1>
            <p class="information-prof">Software Developer</p>
        </div>
        <div class="photo">
            <img src="img/myphoto.jpg" width="512" height="512">
        </div>
    </div>
</div>
<div class="technologies-block" id="tech">
    <div class="technologies-head">
        <h1>Technologies</h1>
        <p>Here are the technologies I have worked with</p>
    </div>
    <div class="technologies">
        <div class="tech-card" v-for="technologie in technologies">
            <h1>{{ technologie.language }}</h1>
            <p>{{ technologie.description }}</p>
        </div>
    </div>
</div>
<div class="projects" id="projects">
    <div class="macos-console">
        <div class="projects-title">
            <h1>My projects</h1>
            <p>These are my projects. All of them are published on GitHub and you can view their source code</p>
        </div>
    </div>
    <div class="projects-list" id="project-list">
        <div class="project-card" v-for="project in projects" @click="linkToGitHub(project.link)">
            <h1>{{ project.title }}</h1>
            <p>{{ project.description ? project.description : "There is no description for this project:("}}</p>
            <h2>Tags:</h2>
            <div class="tags">
                <div class="tag" v-for="tag in project.tags">
                    {{ tag }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contacts">
    <div class="head-line">Contact Me</div>
    <div class="icons">
        <div class="icon">
            <a href="mailto:sunrising005@gmail.com?subject=WebSite" target="_blank"><img src="img/gmail.png"
                                                                                         width="100%" height="100%"></a>
        </div>
        <div class="icon">
            <a href="#" target="_blank"><img src="img/linkedin.png" width="100%" height="100%"></a>
        </div>
        <div class="icon">
            <a href="https://www.instagram.com/__injector__/" target="_blank"><img src="img/instagram.png" width="100%"
                                                                                   height="100%"></a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/decryptanim.js"></script>
<script src="js/projects.js"></script>
<script src="js/technologies.js"></script>
</body>
</html>